@page
@model Web.Pages.Gerenciamento.Agentes

@{
    var hoje = DateTime.Today;
}

<h1>Gerenciar Agentes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TabAgentes[0].Nome)</th>
            <th>@Html.DisplayNameFor(model => model.TabAgentes[0].Status)</th>
            <th>@Html.DisplayNameFor(model => model.TabAgentes[0].Matricula)</th>
            <th>Programadas</th>
            <th>Atendidas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TabAgentes)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Status</td>
                <td>@item.Matricula</td>

                <!-- Contando todos os RoteiroDetalhes (OS) do agente -->
                <td>
                    @(
                        item.Roteiros?
                        .SelectMany(r => r.RoteiroDetalhes)
                        .Count(d =>
                        d.IdOrdemServicoNavigation != null &&
                        d.IdOrdemServicoNavigation.DataLimite.HasValue &&
                        d.IdOrdemServicoNavigation.DataLimite.Value.Date == hoje) ?? 0
                        )
                </td>

                <td>
                    @(
                        item.Roteiros?
                        .SelectMany(r => r.RoteiroDetalhes)
                        .Count(d =>
                        d.IdOrdemServicoNavigation != null &&
                        d.IdOrdemServicoNavigation.DataBaixa.HasValue &&
                        d.IdOrdemServicoNavigation.DataBaixa.Value.Date == hoje) ?? 0
                        )
                </td>

            </tr>
        }
    </tbody>
</table>